<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8">
        <title>Pokémon Go Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="PokeMap">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#3b3b3b">

        <!-- Fav- & Apple-Touch-Icons -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="static/appicons/favicon.ico" type="image/x-icon">
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/120x120.png" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="152x152">
        <!-- retina iPhone 6 iOS 7 -->
        <link rel="apple-touch-icon" href="static/appicons/180x180.png" sizes="180x180">

        <link rel="stylesheet" href="static/dist/css/app.min.css">
        <script src="static/js/vendor/modernizr.custom.js"></script>
    </head>
    <body id="top">
        <div class="wrapper">
            <!-- Header -->
            <header id="header">
                <a href="#nav"></a>
                <h1><a href="#">Pokémon Go Map</a></h1>
            </header>

            <div style="padding-top: 60px; width: 80%; margin: 0 auto; text-align: center; ">
                <h2>Вы должны вступить в <a href="https://vk.com/pokemon_go_glazov" target="_blank" style="color: #2B587A; text-decoration: underline">группу</a>,</h2>
                <h2>чтобы использовать приложение.</h2>
            </div>
        </div>
    </body>    
</html>